
{% extends 'layout.html' %}
{% block content %}

      <a href="create"><button type="submit" class="button button6" >Create Recipe</button></a>

     {% for recipe in user_DB %}

        <li><a href="/user_recipes/{{user_DB.index(recipes)}}">{{recipe}}</a></li>
        
            <form method="POST" action="/user_recipes/{{user_DB.index(recipe)}}/delete" 
            onsubmit="return confirm('Are you sure you want to delete?')">
              <button type="submit" class="button button5">Delete</button>
            </form>
            <form method="GET" action="/user_recipes/{{user_DB.index(recipe)}}/update">
              <button type="submit" class="button button5">Update</button> 
            </form>
            
     {% endfor %}
{% endblock %}
     
  