
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}


button {
    background-color: deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.form{
    border:1px solid white;
    display: inline-block;
    
}

.cancelbtn {
    padding: 14px 20px;
    background-color:darkslategray;
}

.cancelbtn,.signupbtn {
    float:none;
    width: 50%;
}

.container {
    padding: 16px;
}